.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.calendarContainer {
  border-radius: 10px;
  margin-top: 120px;
  background-color: #f5fdf5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 120vh;
}
/* ====== header ======= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.right button {
  margin-left: 8px;
}

.color {
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.85rem;
}
/* Eventy */
:global(.rbc-event-content) {
  background-color: #fdd835;
  color: #000;
  border-radius: 6px;
  padding: 2px 0;
  font-weight: 500;
}
:global(.rbc-event) {
  background-color: #fdd835 !important;
}
/* Dzisiaj */
:global(.rbc-today) {
  background-color: #81c784;
  font-weight: 700;
  color: #fff;
}

/* Dni poza zakresem miesiąca */
:global(.rbc-off-range) {
  color: #9e9e9e;
  background-color: transparent;
}
:global(.rbc-off-range-bg) {
  background-color: lightblue;
}
/* Linki */
:global(.rbc-button-link) {
  color: #000;
}

span {
  color: #181818 !important;
}
/* TELEFONY - pełna szerokość, mniejsze marginesy */
@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .calendarContainer {
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: none; /* opcjonalnie */
  }
}

/* MAŁE TELEFONY */
@media (max-width: 480px) {
  .calendarContainer {
    margin-top: 50px;
  }

  :global(.rbc-toolbar) {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  :global(.rbc-toolbar-label) {
    font-size: 1.2rem;
  }
}
