.about {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(5, 39, 63, 0.95) 0%,
      rgba(9, 121, 105, 0.9) 50%,
      rgba(238, 245, 219, 1) 100%
    ),
    url("../../public/about-bg.jpg"); /* zmień na swoje tło */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #f0fff4;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin-top: 6rem;
  padding: 4rem 2rem;
  color: #062e2e;
}
.content h1 {
  font-size: 4.5rem;
  color: aliceblue;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.content h2 {
  font-size: 2rem;
  color: aliceblue;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-weight: 500;
}

.content p {
  font-size: 1.8rem;
  line-height: 1.8;
  color: aliceblue;
  max-width: 850px;
  margin: 0 auto;
  opacity: 0.9;
}

.footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 4rem 1rem;
  margin-top: 5rem;
  backdrop-filter: blur(6px);
}

.footer p {
  font-size: 1.2rem;
  color: #0a2f2d;
  margin-bottom: 2rem;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.links a {
  color: #0a2f2d;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.links a:hover {
  color: white;
  background: #25a244;
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
}
