.container {
  padding-top: 2rem;
  color: white;
  width: 80%;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--color-brand--3);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: var(--color-dark--3);
}

.placeholder {
  background-color: var(--color-dark--1);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
