.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 80rem;
}
.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr auto;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-dark--1);
  border-radius: 8px;
  font-weight: 600;
  color: #c9c9c9;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid #475569;
}
.tableHeader > :nth-child(2),
.tableHeader > :nth-child(3) {
  margin-left: 5rem;
}
.headerCell {
  display: flex;
  align-items: center;
}

.headerCellAction {
  width: 40px;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0.5rem 0;
}

.itemButton {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr auto; /* lewo: imię, środek: tel, prawo: X */
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: var(--color-dark--2);
  color: #fff;
  border: 1px solid #3a3a5f;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: left;
  transition: background 0.2s, transform 0.1s, border-color 0.2s;
  cursor: pointer;
}
.active {
  background: var(--primary-dark);
  border-color: #8080ff;
  box-shadow: 0 0 10px rgba(128, 128, 255, 0.6);
  font-size: 1.1rem;
  color: #e6e6ff;
}
.itemButton:hover {
  background: #3a3a5f;
  border-color: #14b8a6;
  transform: translateX(4px);
}

.itemButton:active {
  transform: translateY(0);
  background: #5b21b6;
  border-color: #7c3aed;
}

.name {
  justify-self: start;
  font-weight: 600;
}

.phone {
  justify-self: center;
  color: aliceblue;
  font-size: 1.2rem;
}

.delete {
  justify-self: end;
  color: #ff6b6b;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
}

.delete:hover {
  color: #ff4444;
}
.textColor {
  color: aliceblue !important;
}
.phonesvg {
  margin-right: 0.5rem;
  height: 16px;
  width: 20px;
}
